.header{
    text-align: center;
}
.logo{
    height: 50px;
}
.header nav{
    background-color: #000;
    padding: 10px 20px;
    /* text-align: left; */
}
.header nav a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin: 20px;
    padding: 10px 15px;
}
.header nav a:hover{
    background-color: lightgray;
    color: #000;
}
.search-bar{
    background-color: rgba(0, 0, 0, 0.767);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar input{
    width: 70%;
    padding: 5px 8px;
}
.search-bar i{
    font-size: 30px;
    margin-left: 10px;
    color: #fff;
}
.search-bar span{
    color:rgb(235, 182, 11);
}